<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>JANDY CAFE</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cafe_style.css')}}">
	<script type="text/javascript" src = "{{url_for('static',filename='js/cafe.js')}}"></script>
	<script src="//code.jquery.com/jquery.min.js"></script>
</head>
<body>
	<div id = "header">
		<div id = "small_header">
			<div id="logo" onclick="window.open('/','_self')"></div>
			<form action='http://google.co.kr/search' method="GET">
				<input id="search" type="text" name=q>
			</form>
			<table id="menu">
			<tr>
                <td><img class="title_profile"></td>
				<td><span onclick='window.open("/account")'>{{user_nick}}</span></td>
				<td>|</td>
				<td><span onclick='window.open("/")'>JANDY</span></td>
				<td>|</td>
				<td><span onclick='location.replace("/logout")'>로그아웃</span></td>
			</tr>
			</table>
			
		</div>
	</div>
	<div id="mainbody">
		<div id = "leftbody">
			<p>전체게시글</p>
			<p>자유게시판</p>
		</div>
		<div id = "rightbody">
			<p>개인정보</p>
		</div>
		<div id = "centerbody">
			<div id="writing_box">
				<div id="writing_top_box">
					<span>게시글 작성</span>
				</div>
				<div class="profile"></div>
				<!-- <input id="write_inputbox" type="text" name="write" placeholder="게시글을 입력해주세요"> -->
				<form action="/cafe" method="post" onsubmit='return chk_post()'>
					<textarea id="title_input" name="title" rows="1" cols="69" placeholder="제목을 입력해주세요"></textarea>
					<textarea id="contain_input" name="contain" rows="9" cols="69" placeholder="게시글을 입력해주세요"></textarea>

					<div id="buttons">
						<input id="cancel" onclick="location.replace('/cafe')" type="button" value="취소">
						<input id="load" type="submit" value="작성">
					</div>
				</form>
			</div>
			
			<!--<div id="writelist_box"></div>-->
		</div>
		
	</div>
	<script>
		window.onload = function(){
            if('{{user_img}}' == 'null')
                $('.title_profile').attr("src", "static/user_img/profileimage.png");
            else $('.title_profile').attr("src", "static/user_img/"+"{{user_img}}");

			for (let i=0 ; i<10 ; i++) 
				add_div();
		}

		$(document).ready(function() {
		$(document).scroll(function(){
			let maxHeight = $(document).height();
		    let currentScroll = $(window).scrollTop() + $(window).height();
		
	        if (maxHeight <= currentScroll + 100){
                add_div();
            }
		})
		})
        
        let post_list = [];
        let post_now = [];
        let last = -1;
        
        function heart_click(stat, post_idx, user_id){//하트 클릭했을때 함수
            let heart_list = [stat, post_idx, user_id];
            $.ajax({
                type:"POST",
                url:"/cafe",
                datatype:"json",
                data:"heart="+heart_list,//[post_idx, user_id],
                async:false
            })
        }

		function add_div(){
            
            if(post_list == 0){
                $.ajax({
                    type:"POST",
                    url:"/cafe",
                    datatype:"json",
                    data:"last="+last,
                    async:false,
                    success:function(data){
                        post_list = data.post;
                    }
                })
            }
                
            if(post_list != 0){
                post_now = post_list.shift();
                last = post_now[4];
                heart_list = String(post_now[6]).split(',');
                
                let div = document.createElement("div"); // 박스
                div.className = post_now[4];
                div.style.width='630px';
                div.style.height='auto';
                div.style.background='white';
                div.style.border='1px solid #d6d6d6';
                div.style.margin='20px auto';
                //div.style.boxShadow='2px 2px 2px 2px gray';
                
                document.getElementById('centerbody').appendChild(div);
                        
                let profile = document.createElement("img"); //프로필 사진
                profile.className = "profile";
                
                if(post_now[8]==null){
                    profile.src = "static/user_img/profileimage.png";
                } else{
                    profile.src = "static/user_img/"+post_now[8];
                }
                div.appendChild(profile);

                let nick = document.createElement("div"); //이름
                nick.innerHTML=post_now[7];
                nick.className = "post_nick";
                div.appendChild(nick);

                let time = document.createElement("div"); //시간
                time.innerHTML=post_now[3];
                time.className = "post_time";
                div.appendChild(time);

                let title = document.createElement("div"); //제목
                title.innerHTML=post_now[0];
                title.className = "post_title";
                div.appendChild(title);

                let contain = document.createElement("div"); //내용 박스
                div.appendChild(contain);

                let contain_text = document.createElement("pre"); //내용 글자
                contain_text.innerHTML=post_now[1];
                contain.appendChild(contain_text);
                
                let bottom_bar1 = document.createElement("div"); //하트 수 표시 박스
                bottom_bar1.className = "bottom_bar1";
                div.appendChild(bottom_bar1);
                
                
                let h_count = document.createElement("div"); //하트 개수 박스
                h_count.className = "h_count";
                
                bottom_bar1.appendChild(h_count);
                    
                let heart = document.createElement("img"); //하트 개수 이미지
                heart.src = "static/img/heart_on.png";

                if (post_now[6] != null)
                    h_count.innerHTML=heart_list.length;
                else{
                    h_count.innerHTML="";
                    heart.style.display = "none";
                }
                bottom_bar1.appendChild(heart);
                

                let bottom_bar2 = document.createElement("div"); //하트, 댓글 버튼박스
                bottom_bar2.className = "bottom_bar2";
                div.appendChild(bottom_bar2);
                
                let good = document.createElement("div"); //하트버튼 박스
                good.className = "good";
                bottom_bar2.appendChild(good);
                
                let comment = document.createElement("div"); //댓글버튼 박스
                comment.className = "comment";
                bottom_bar2.appendChild(comment);
                
                let other = document.createElement("div"); //미지정 버튼 박스
                other.className = "other";
                bottom_bar2.appendChild(other);
                
                heart = document.createElement("img"); //하트 버튼 이미지
                heart.className = "heart";
                if ( heart_list.includes(String('{{user_id}}')) ){
                    heart.src = "static/img/heart_on.png";
                    heart.value = "on";
                }
                else{
                    heart.src = "static/img/heart_off.png";
                    heart.value = "off";
                }
                good.appendChild(heart);
                
                $('.heart').off('click').click(function(){ //하트 클릭시 발동               
                    let post_idx = $(this).parent().parent().parent().attr('class');
                    let target = $(this).attr('class');

                    if (this.value == "off"){
                        heart_click("on",post_idx,'{{user_id}}');
                        this.src = "static/img/heart_on.png";
                        this.value = "on";
                    } else{
                        heart_click("off",post_idx,'{{user_id}}');
                        this.src = "static/img/heart_off.png";
                        this.value = "off";
                    }  

                    let h_count = $(this).parent().parent().prev();
                    
                    $.ajax({ //하트 개수 받아오는 ajax
                        type:"POST",
                        url:"/cafe",
                        datatype:"json",
                        data:"give_heart_user="+post_idx,
                        async:false,
                        success:function(data){
                            heart_list = data.heart_list;
                            if (heart_list == ""){
                                $(h_count).children('.h_count').html("");
                                $(h_count).children('img').css("display", "none");
                            } else{
                                $(h_count).children('.h_count').html(heart_list.length);
                                $(h_count).children('img').css("display", "inline-block");
                            }
                        }
                    })
                });

                let cmt_img = document.createElement("img"); //댓글 버튼
                cmt_img.className = "cmt_img";
                cmt_img.src = "static/img/comment.png";
                cmt_img.value = 'close';
                comment.appendChild(cmt_img);
                
                $('.cmt_img').off('click').click(function(){ //댓글 클릭시 발동
                    cmt_window_stat = $(this);

                    if(cmt_window_stat.val() == 'close'){//닫혀있을경우
                        $('.cmt_window').remove();
                        $('.cmt_img').val('close');
                        $(this).val('open');
                        show_comment();
                    }
                    else if(cmt_window_stat.val() == 'open'){//열려있을경우
                        $('.cmt_window').remove();
                        $('.cmt_img').val('close');
                    }

                    function show_comment(){//댓글 목록 생성 함수
                        let post_idx = $(cmt_window_stat).parent().parent().parent().attr('class');
                        let target = $(cmt_window_stat).attr('class');
                        
                        $.ajax({ // 댓글 목록 받아오기
                            type:"POST",
                            url:"/cafe",
                            datatype:"json",
                            data:"get_comment="+post_idx,
                            async:false,
                            success:function(data){
                                comment_list = JSON.parse(data).comment_list;
                                
                                $('.'+post_idx).append('<div class="cmt_window"></div>');
                                
                                $('.'+post_idx).children('.cmt_window').append('<div class="cmt_input"></div>'); //댓글 큰 박스
                                $('.cmt_input').append('<img class="cmt_profile">'); //프로필 사진
                                    
                                if('{{user_img}}'=='null') //프로필사진없으면 기본사진, 있으면 프사 적용
                                    $('.cmt_input').children('.cmt_profile').attr("src", "static/user_img/profileimage.png");
                                else $('.cmt_input').children('.cmt_profile').attr("src", "static/user_img/"+"{{user_img}}");

                                $('.cmt_input').append('<div class="input_comment_outline"></div>');
                                    
                                $('.cmt_input').children('.input_comment_outline').append('\
        <form action="/cafe" class="cmt_form" method="post"></form>');

                                $('.input_comment_outline form').append('<textarea \
        class="input_comment_inline" rows="1" name="comment" cols="60" placeholder = "댓글을 입력하세요..."/textarea>');

                                $('.input_comment_inline').on('keydown keyup', function () {//자동 높이 조절
                                    $(this).height(1).height( $(this).prop('scrollHeight') );//+ 0 );	
                                });

                                $('.input_comment_outline form').append('<input type = "button" class="cmt_sbmit" value = "작성">');

                                $('.input_comment_outline form').append('<input type = "text" name="post_idx" value=' + post_idx + '>');
                                
                                $('.cmt_sbmit').off('click').click(function(){ //댓글 작성 눌렀을 때
                                    if($('.input_comment_inline').val() != ''){
                                        let comment = $('.cmt_form').serialize();
                                        $.ajax({ //댓글 보내는 ajax
                                            type:"POST",
                                            url:"/cafe",
                                            datatype:"json",
                                            data:comment,
                                            async:false
                                        })
                                        $(this).val('open');
                                        $('.cmt_window').remove();
                                        show_comment();
                                    }
                                });

                                if (comment_list != null){//댓글 목록 생성
                                    for(i = 0 ; i < comment_list.length ; i++){
                                        let target_idx = comment_list[i][4];
                                        $(`.${post_idx}`).children('.cmt_window').append(`<div class=cmt_${target_idx}></div>`); //댓글 큰 박스

                                        if(comment_list[i][6] == null) //프로필사진없으면 기본사진, 있으면 프사 적용
                                            $('.cmt_window').children(`.cmt_${target_idx}`).append('<img class="cmt_profile" src=static/user_img/profileimage.png>'); //기본프사
                                        else
                                            $('.cmt_window').children(`.cmt_${target_idx}`).append(`<img class="cmt_profile" src=static/user_img/${comment_list[i][6]}>`);//프사

                                        $('.cmt_window').children(`.cmt_${target_idx}`).append('<div class=comment_'+target_idx+'></div>'); //댓글 박스
                                        $(`.${post_idx} .comment_${target_idx}`).append(`<text class=comment_writer>${comment_list[i][5]}</text>`); //댓글 작성자
                                        $(`.${post_idx} .comment_${target_idx}`).append(`<text class=comment_contain>${comment_list[i][1]}</text>`); //댓글 내용
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append('<img class="reple_popup_ico" src=static/img/상세.png/>'); //댓글 팝업
                                        $('.cmt_window').children(`.cmt_${target_idx}`).children('.reple_popup_ico').append('<div class="reple_popup_div"></div>'); //댓글 팝업창
                                        $('.cmt_window').children(`.cmt_${target_idx} .reple_popup_div`).append('<text class="reple_modi">수정</text>'); //댓글 수정
                                        $('.cmt_window').children(`.cmt_${target_idx}`).children('.reple_popup_div').append('<text class="reple_del">삭제</text>'); //댓글 삭제
                                        $('.cmt_window').children(`.cmt_${target_idx}`).children('.reple_popup_div').append('<text class="reple_cancel">취소</text>'); //댓글 팝업 취소
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append('<div></div>'); //빈 칸
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append('<text class="reple_like">좋아요 · </text>'); //댓글 좋아요
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append('<text class="reple_btn">답글 달기 · </text>'); //답글 달기
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append(`<text class="reple_date">${comment_list[i][2]}</text>`); //댓글 날짜
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append(`<text class="reple_idx">${target_idx}</text>`); //댓글 idx
                                        $('.cmt_window').children(`.cmt_${target_idx}`).append('<text class="reple_parent">None</text>'); //부모 댓글 여부

                                        if(comment_list[i][4] != null){//답글 목록 생성
                                            console.log(`comment_list[i] : ${comment_list[i]}`);
                                            $.ajax({ // 답글 목록 받아오기
                                                type:"POST",
                                                url:"/cafe",
                                                datatype:"json",
                                                data:`get_re_comment=${comment_list[i][4]}`,
                                                async:false,
                                                success:function(data){
                                                    re_comment_list = JSON.parse(data).re_comment_list;
                                                    
                                                    for(j = 0 ; j < re_comment_list.length ; j++){
                                                        let re_target_idx = re_comment_list[j][3];
                                                        $('.cmt_window').children(`.cmt_${target_idx}`).append(`<div class=cmt_rep_${re_target_idx}></div>`); //답글 큰 박스

                                                        if(re_comment_list[j][6] == null) //프로필사진없으면 기본사진, 있으면 프사 적용
                                                            $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append('<img class="cmt_rep_profile" src=static/user_img/profileimage.png>'); //기본프사
                                                        else
                                                            $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append(`<img class="cmt_rep_profile" src=static/user_img/${re_comment_list[j][6]}>`);//프사

                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append(`<div class=comment_rep_${re_target_idx}></div>`); //답글 박스
                                                        $(`.${post_idx} .comment_rep_${re_target_idx}`).append(`<text class=comment_writer>${re_comment_list[j][5]}</text>`); //답글 작성자
                                                        $(`.${post_idx} .comment_rep_${re_target_idx}`).append(`<text class=comment_contain>${re_comment_list[j][1]}</text>`); //답글 내용
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append('<img class="reple_popup_ico" src=static/img/상세.png/>'); //답글 팝업
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).children('.reple_popup_ico').append('<div class="reple_popup_div"></div>'); //답글 팝업창
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).children('.reple_popup_div').append('<text class="reple_modi">수정</text>'); //답글 수정
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).children('.reple_popup_div').append('<text class="reple_del">삭제</text>'); //답글 삭제
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).children('.reple_popup_div').append('<text class="reple_cancel">취소</text>'); //답글 팝업 취소
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append('<div></div>'); //빈 칸
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append('<text class="reple_like">좋아요 · </text>'); //댓글 좋아요
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append('<text class="reple_btn">답글 달기 · </text>'); //답글 달기
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append(`<text class="reple_date">${re_comment_list[j][2]}</text>`); //댓글 날짜
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append(`<text class="reple_idx">${re_target_idx}</text>`); //댓글 idx
                                                        $(`.cmt_${target_idx}`).children(`.cmt_rep_${re_target_idx}`).append(`<text class="reple_parent">${target_idx}</text>`); //부모 댓글 여부
                                                    }
                                                }
                                            })
                                        }
                                    }
                                }

                                $('.cmt_window div[class^=cmt_]').mouseover(function(){ // 댓글 마우스 올리면 삭제 버튼
                                    //if ($('.cmt_window div[class^=cmt_rep_]').is(":hover") == false){
                                    if ($('.cmt_window div[class^=cmt_rep_]:hover').length == false){
                                        $(this).children('.reple_popup_ico').css("display", "inline-block");
                                    }
                                });

                                $('.cmt_window div[class^=cmt_rep_]').mouseover(function(){ // 답글 마우스 올리면 삭제 버튼
                                    $(this).children('.reple_popup_ico').css("display", "inline-block");
                                    $(this).parent('div[class^=cmt_]').children('.reple_popup_ico').css("display", "None");
                                });
                                
                                $('.cmt_window div[class^=cmt_]').mouseleave(function(){ // 마우스 다시 떼면 삭제버튼 사라짐
                                    $(this).children('.reple_popup_ico').css("display", "None");
                                    $(this).children('.reple_del').css("display", "None");
                                    $(this).children('.reple_modi').css("display", "None");
                                });
                                
                                $('.reple_popup_ico').off('click').click(function(){ //댓글 상세 눌렀을 때
                                    $('.reple_popup_div').css('display', 'None');
                                    $(this).children('.reple_popup_div').css("display", "inline-block");
                                });

                                $('.reple_del').off('click').click(function(){ //댓글 삭제 눌렀을 때
                                    let comment_self_idx = $(this).nextAll('.reple_idx').text();
                                    let comment_parent_idx = $(this).nextAll('.reple_parent').text();

                                    if(comment_parent_idx == "None"){
                                        let post_idx = $(this).parent().parent().parent().attr('class');
                                    }
                                    else{
                                        let post_idx = $(this).parent().parent().parent().parent().attr('class');
                                    }
                                    
                                    let idx_list = new Array(comment_self_idx, comment_parent_idx, post_idx);
                                    
                                    $.ajax({ //삭제 정보 보내는 ajax
                                        type:"POST",
                                        url:"/cafe",
                                        datatype:"json",
                                        data:"idx_list_delete="+idx_list,
                                        async:false
                                    })
                                    //$(this).val('open');
                                    $('.cmt_window').remove();
                                    show_comment();
                                    
                                });
                                
                                
                                $('.reple_modi').off('click').click(function(){ //댓글 수정 눌렀을 때
                                    let comment_self_idx = $(this).nextAll('.reple_idx').text();

                                    $(this).prevAll('.comment_'+ comment_self_idx).css("display", "None");
                                    
                                    $(this).prevAll('.comment_'+ comment_self_idx).after('<div class="cmt_rep_input"></div>'); //댓글 큰 박스
                                    /*
                                    $('.cmt_rep_input').after('<img class="cmt_rep_profile">'); //프로필 사진
                                        
                                    if('{{user_img}}'=='null') //프로필사진없으면 기본사진, 있으면 프사 적용
                                        $('.cmt_rep_input').children('.cmt_rep_profile').attr("src", "static/user_img/profileimage.png");
                                    else $('.cmt_rep_input').children('.cmt_rep_profile').attr("src", "static/user_img/"+"{{user_img}}");
                                    *//*
                                    $('.cmt_rep_input').append('<div class="input_rep_comment_outline"></div>');
                                    
                                    $('.cmt_rep_input').children('.input_rep_comment_outline').append('\
            <form action="/cafe" class="cmt_rep_form" method="post"></form>');

                                    $('.input_rep_comment_outline form').append('<textarea \
            class="input_rep_comment_inline" rows="1" name="re_comment" cols="60" placeholder = "답글 달기"/textarea>');

                                    $('.input_rep_comment_inline').on('keydown keyup', function () {//자동 높이 조절
                                        $(this).height(1).height( $(this).prop('scrollHeight') );//+ 0 );	
                                    });
                                    /*
                                    $('.input_rep_comment_outline form').append('<input type = "button" class="cmt_rep_sbmit" value = "작성">');

                                    $('.input_rep_comment_outline form').append('<input type = "text" name="cmt_idx" value=' + cmt_idx + '>');
                                    
                                    $('.cmt_rep_sbmit').off('click').click(function(){ //답글 작성 눌렀을 때
                                        let re_comment = $('.cmt_rep_form').serialize();

                                        $.ajax({ //답글 보내는 ajax
                                            type:"POST",
                                            url:"/cafe",
                                            datatype:"json",
                                            data:re_comment,
                                            async:false
                                        })
                                        $(this).val('open');
                                        $('.cmt_window').remove();
                                        show_comment();
                                    });

                                    let idx_list = new Array(comment_self_idx, comment_parent_idx, post_idx);
                                    
                                    $.ajax({ //수정 정보 보내는 ajax
                                        type:"POST",
                                        url:"/cafe",
                                        datatype:"json",
                                        data:"idx_list_modi="+idx_list,
                                        async:false
                                    })
                                    //$(this).val('open');
                                    $('.cmt_window').remove();
                                    show_comment();*/
                                    
                                });
                                
                                $('.reple_cancel').off('click').click(function(){ //댓글 팝업 취소 눌렀을 때
                                    $(this).parent('.reple_popup_div').css('display', 'None');
                                    console.log($(this).parent('div'));
                                });

                                $('.reple_btn').off('click').click(function(){ //답글 달기 눌렀을 때
                                    $('.cmt_rep_input').remove();
                                    
                                    let cmt_idx = $(this).nextAll(".reple_idx").text();

                                    if ( $(this).nextAll(".reple_parent").text() != "None")
                                        cmt_idx = $(this).nextAll(".reple_parent").text();

                                    $(".cmt_"+cmt_idx).append('<div class="cmt_rep_input"></div>'); //댓글 큰 박스
                                    
                                    $('.cmt_rep_input').append('<img class="cmt_rep_profile">'); //프로필 사진
                                        
                                    if('{{user_img}}'=='null') //프로필사진없으면 기본사진, 있으면 프사 적용
                                        $('.cmt_rep_input').children('.cmt_rep_profile').attr("src", "static/user_img/profileimage.png");
                                    else $('.cmt_rep_input').children('.cmt_rep_profile').attr("src", "static/user_img/"+"{{user_img}}");

                                    $('.cmt_rep_input').append('<div class="input_rep_comment_outline"></div>');
                                        
                                    $('.cmt_rep_input').children('.input_rep_comment_outline').append('\
            <form action="/cafe" class="cmt_rep_form" method="post"></form>');

                                    $('.input_rep_comment_outline form').append('<textarea \
            class="input_rep_comment_inline" rows="1" name="re_comment" cols="60" placeholder = "답글 달기"/textarea>');

                                    $('.input_rep_comment_inline').on('keydown keyup', function () {//자동 높이 조절
                                        $(this).height(1).height( $(this).prop('scrollHeight') );//+ 0 );	
                                    });

                                    $('.input_rep_comment_outline form').append('<input type = "button" class="cmt_rep_sbmit" value = "작성">');

                                    $('.input_rep_comment_outline form').append('<input type = "text" name="cmt_idx" value=' + cmt_idx + '>');
                                    
                                    $('.cmt_rep_sbmit').off('click').click(function(){ //답글 작성 눌렀을 때
                                        let re_comment = $('.cmt_rep_form').serialize();

                                        $.ajax({ //답글 보내는 ajax
                                            type:"POST",
                                            url:"/cafe",
                                            datatype:"json",
                                            data:re_comment,
                                            async:false
                                        })
                                        $(this).val('open');
                                        $('.cmt_window').remove();
                                        show_comment();
                                    });
                                });
                            }
                        })
                            
                    }
                });
            }
		}
	</script>
</body>
</html>
