<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS 3D Slideshow</title>
     
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/cube.css')}}">
         
</head>
 
<body>
    <div id="container">
        <div id="slideshow">
            <figure tabindex=1 id="fig1">
            <figcaption>Side 1</figcaption>             
            <figure tabindex=2 id="fig2">
            <figcaption>Side 2</figcaption>
            <figure tabindex=3 id="fig3">
            <figcaption>Side 3</figcaption>
            <figure tabindex=4 id="fig4">
            <figcaption>Side 4</figcaption>
            <figure tabindex=5 id="fig5">
            <figcaption>Side 5</figcaption>
            <figure tabindex=6 id="fig6">
            <figcaption>Side 6</figcaption>
                <figure id="box">
                    <img src="static/images/face1.jpg"/>
                    <img src="static/images/face2.jpg"/>
                    <img src="static/images/face3.jpg"/>
                    <img src="static/images/face4.jpg"/>
                    <img src="static/images/face5.jpg"/>
                    <img src="static/images/face6.jpg"/>
                </figure>
            </figure>
            </figure>
            </figure>
            </figure>
            </figure>
            </figure>
        </div> <!-- End Slideshow -->
    </div> <!-- End Container -->
</body>
</html>